@media(max-width:767.98px){
    .navbar-brand img{
        width: 43px !important;
    }
    .netflix-padding-left {
        padding-left:10px !important;
      }
    .netflix-padding-right {
    padding-left:10px !important;
    }

    .netflix-dropdown-box{
        display:block !important;
    }
    .netflix-nav{
        display:none;
    }

    .align {
        margin-top:200px;
    }    

    .event-card-2 {
        width:125px;
    }
    
    .event-card {
        width:190px;
    }

    .event-card-icon {
        font-size: 17px !important;
        width:22px;
        height:29px;
    }

    .register-2 {
        font-size:9px;
        font-weight:0;
        color:red;
    }

    .register {
        font-size:12px;
        font-weight:0;
        color:red;
    }

    .event-card-2:hover > .event-card-2-body{
        display:block;
    }
      

    .btn-2 {
        width:10px;
    }

    .btn {
        height:20px;
        width:80px;
        font-size:17px !important;
    }

    .slider1 {
        top: 250px;
        margin-left: 0px;
    }

    .event-card-body {
        top:100px;
    }

    .event-card-2-body {
        top:60px;
    }

    .dirmessage,.chairmessage {
        height: 250px;
        width:350px;
    }

    .aboutmain {
        display:grid;
        place-items: center;
        margin-top:5px;
        position:relative;

    }

    .event-card-text {
        font-size:12px;
    }

    .event-card-2-text {
        font-size: 10px;
    }

    .event-card-2-icon {
        font-size: 17px !important;
        width:15px;
        height:18px;
    }
    
    .aboutus {
        font-size: 12px;
        width:330px;
        height:780px;
        margin-top:50px;
    }

    .welcome {
        height:90px;
        width:250px;
        margin-top:275px;
    }

    .hotstar,.primelogo {
        height:250px;
        width:250px;
    }

    .desktop {
        display:none;
    }

    .mobile {
        display:flex;
    }
    
    .schedule {
        height:500px;
    }
}
