@media(max-width:767.98px){
    .navbar-brand img{
        width: 43px !important;
    }
    .netflix-padding-left {
        padding-left:10px !important;
      }
    .netflix-padding-right {
    padding-left:10px !important;
    }

    .netflix-dropdown-box{
        display:block !important;
    }
    .netflix-nav{
        display:none;
    }

    .align {
        margin-top:200px;
      }      

    .event-card-2 {
        width:70px;
    }

    .event-card {
        width:90px;
    }

    .event-card-2-icon {
        font-size: 12px !important;
        width:7px;
        height:9px;
    }

    .event-card-icon {
        font-size: 12px !important;
        width:12px;
        height:8px;
    }

    .register-2 {
        font-size:9px;
        font-weight:0;
        color:red;
    }

    .register {
        font-size:12px;
        font-weight:0;
        color:red;
    }

    .btn-2 {
        width:10px;
    }

    .btn {
        height:20px;
        width:80px;
        font-size:17px !important;
    }
    .slider1 {
        top: 250px;
        margin-left: 0px;
    }
    .event-card-body {
        top:40px;
    }

    .dirmessage,.chairmessage {
        height: 250px;
        width:350px;
    }

    .aboutmain {
        display:grid;
        place-items: center;
        margin-top:5px;
        position:relative;

    }

    .event-card-text {
        font-size:8px;
    }

    .event-card-2-text {
        font-size: px;
    }
    
    .aboutus {
        font-size: 12px;
        width:330px;
        height:780px;
        margin-top:50px;
    }
    .welcome {
        height:90px;
        width:250px;
        margin-top:50px;
    }

    .hotstar,.primelogo {
        height:250px;
        width:250px;
    }
}
