<!DOCTYPE html>
<html>
    <head>
        <title>Event egistration</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <style>
        body,main {
            background-image: linear-gradient(black,rgb(146, 14, 14));
        }
    </style>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    <main style="text-align: center;">
        <div ng-app="myapp" ng-controller="myctrl">
            <form name="form1" ng-submit="submitForm()"  action="/register" method="post" novalidate>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tname" placeholder="Team Name" type="text" ng-model="event.tname" required>
                    <span ng-show="form1.tname.$dirty && form1.tname.$error.required">Team Name is required.</span>
                </div>

                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tleader" placeholder="Team Leader's Name" type="text" ng-model="event.tleader" required>
                    <span ng-show="myForm.username.$dirty && myForm.username.$error.required">Name is required</span>
                </div>

                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tph1" placeholder="Team Leader Phone Number" type="number" ng-model="event.tph1" required>
                    <span ng-show="form1.tph1.$dirty && form1.tph1.$error.required">Phone number required</span>
                </div>

                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tmem1" placeholder="Team Member #1" type="text" ng-model="event.tmem1" required>
                    <span ng-show="form1.tmem1.$dirty && form1.tmem1.$error.required"> Name is required.</span>
                </div>

                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tmem2" placeholder="Team Member #2" type="text" ng-model="event.tmem2" required>
                    <span ng-show="form1.tmem2.$dirty && form1.tmem2.$error.required"> Name is required.</span>
                </div>

                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tmem3" placeholder="Team Member #3" type="text" ng-model="event.tmem3" required>
                    <span ng-show="form1.tmem3.$dirty && forn1.tmem3.$error.required"> Name is required.</span>
                </div>

                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tmem4" placeholder="Team Name" type="text" ng-model="event.tmem4" required>
                    <span ng-show="form1.tmem4.$dirty && form1.tmem4.$error.required"> Name is required.</span>
                </div>

                <button class="btn btn-danger" type="submit">Register</button>
            </form>
        </div>
        <script>
            var app = angular.module('myapp',[]);

            app.contoller('mtycrl', function($scope){
                $scope.event = {};
                $scope.submitForm = function () {
                    if ($scope.myForm.$valid) {
                        $http.post('/register', $scope.user)
                            .then(function (response) {

                                window.location.href = '/';
                            })
                            .catch(function (error) {
                                //catching error
                            });
                    }
                };
            });

        </script>
        <div>
            <b>The Team Leaders must ensure that their entire team is present during the time of the event</b>
            <b>See you there!</b>
        </div>
    </main>
</html>